openapi: 3.0.3
info:
  title: Arapoint Developer API
  description: |
    Nigerian Identity Verification & Services API.
    Arapoint provides NIN/BVN verification, education verification (WAEC, NECO, NABTEB, NBAIS),
    employment checks, fraud scoring, and a unified enterprise endpoint.
    All verification endpoints require an API key passed via the `X-API-Key` header.
  version: 2.1.0
  contact:
    name: Arapoint Support
    url: https://arapoint.com.ng
  license:
    name: Proprietary

servers:
  - url: https://arapoint.com.ng/api/v1/developer
    description: Production
  - url: https://{devDomain}/api/v1/developer
    description: Development
    variables:
      devDomain:
        default: localhost:5000

tags:
  - name: Auth
    description: Developer authentication (OTP, register, login)
  - name: Profile
    description: Developer profile management
  - name: API Keys
    description: Manage API keys for accessing verification endpoints
  - name: Verification
    description: Identity, education, employment and fraud verification
  - name: Unified
    description: Enterprise unified verification endpoint
  - name: Billing
    description: Wallet funding and transaction history
  - name: Webhooks
    description: Webhook configuration and delivery logs
  - name: Security
    description: IP allowlist management
  - name: Analytics
    description: API usage analytics

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key obtained from the developer dashboard
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token from developer login

  schemas:
    SuccessResponse:
      type: object
      properties:
        status:
          type: string
          example: success
        code:
          type: integer
          example: 200
        message:
          type: string
        data:
          type: object

    ErrorResponse:
      type: object
      properties:
        status:
          type: string
          example: error
        code:
          type: integer
        message:
          type: string

    NINVerification:
      type: object
      properties:
        nin:
          type: string
          example: "12345678901"
          description: 11-digit National Identification Number
      required: [nin]

    BVNVerification:
      type: object
      properties:
        bvn:
          type: string
          example: "22345678901"
          description: 11-digit Bank Verification Number
      required: [bvn]

    EducationVerification:
      type: object
      properties:
        provider:
          type: string
          enum: [waec, neco, nabteb, nbais, jamb]
        examYear:
          type: string
          example: "2020"
        examType:
          type: string
          example: "WASSCE"
        registrationNumber:
          type: string
          description: Candidate registration/exam number
        cardSerialNumber:
          type: string
          description: Scratch card serial (WAEC, NABTEB)
        cardPin:
          type: string
          description: Scratch card PIN or token
        state:
          type: string
        schoolName:
          type: string
        examMonth:
          type: string
          description: Required for NBAIS (e.g. MAY, NOV)
      required: [provider, examYear, examType, registrationNumber]

    FraudScore:
      type: object
      properties:
        nin:
          type: string
          example: "12345678901"
        bvn:
          type: string
          example: "22345678901"
      required: [nin, bvn]

    EmploymentVerification:
      type: object
      properties:
        fullName:
          type: string
        companyName:
          type: string
        employeeId:
          type: string
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        callbackUrl:
          type: string
          format: uri
      required: [fullName, companyName]

    UnifiedVerification:
      type: object
      properties:
        reference:
          type: string
          description: Optional client-supplied reference
        callbackUrl:
          type: string
          format: uri
          description: Webhook URL for async result delivery
        identity:
          type: object
          properties:
            nin:
              type: string
            bvn:
              type: string
            fullName:
              type: string
            dateOfBirth:
              type: string
        checks:
          type: object
          properties:
            education:
              type: array
              items:
                type: object
                properties:
                  type:
                    type: string
                    enum: [waec, neco, nabteb, nbais]
                  examYear:
                    type: string
                  examNumber:
                    type: string
                required: [type, examYear, examNumber]
            employment:
              type: object
              properties:
                fullName:
                  type: string
                companyName:
                  type: string
            fraudCheck:
              type: boolean
              default: false
        options:
          type: object
          description: Optional processing options

    WebhookConfig:
      type: object
      properties:
        webhookUrl:
          type: string
          format: uri
          description: Must use HTTPS
        enabled:
          type: boolean

    Pricing:
      type: object
      properties:
        endpoint:
          type: string
        price:
          type: number
        currency:
          type: string
          example: NGN

paths:
  /auth/send-otp:
    post:
      tags: [Auth]
      summary: Send OTP to email
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
              required: [email]
      responses:
        "200":
          description: OTP sent successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /auth/register:
    post:
      tags: [Auth]
      summary: Register a new developer account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  minLength: 8
                name:
                  type: string
                company:
                  type: string
                otp:
                  type: string
              required: [email, password, name, otp]
      responses:
        "201":
          description: Account created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "400":
          description: Invalid input or OTP
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /auth/login:
    post:
      tags: [Auth]
      summary: Login and receive JWT token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
              required: [email, password]
      responses:
        "200":
          description: Login successful
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          token:
                            type: string
                          developer:
                            type: object
        "401":
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /profile:
    get:
      tags: [Profile]
      summary: Get developer profile
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Profile data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
    put:
      tags: [Profile]
      summary: Update developer profile
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                company:
                  type: string
                webhookUrl:
                  type: string
                  format: uri
      responses:
        "200":
          description: Profile updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  /profile/password:
    put:
      tags: [Profile]
      summary: Change password
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                currentPassword:
                  type: string
                newPassword:
                  type: string
                  minLength: 8
              required: [currentPassword, newPassword]
      responses:
        "200":
          description: Password changed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  /api-keys:
    get:
      tags: [API Keys]
      summary: List API keys
      security:
        - BearerAuth: []
      responses:
        "200":
          description: List of API keys
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
    post:
      tags: [API Keys]
      summary: Create a new API key
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
              required: [name]
      responses:
        "201":
          description: API key created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          key:
                            type: string
                            description: Full API key — shown only once

  /api-keys/{id}:
    delete:
      tags: [API Keys]
      summary: Revoke an API key
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Key revoked
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  /pricing:
    get:
      tags: [Billing]
      summary: Get endpoint pricing
      responses:
        "200":
          description: Pricing list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  /verify/nin:
    post:
      tags: [Verification]
      summary: Verify a National Identification Number
      description: |
        Verifies a Nigerian NIN and returns identity data.
        Cost: ₦130 per request.
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NINVerification"
      responses:
        "200":
          description: Verification result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "402":
          description: Insufficient wallet balance
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /verify/bvn:
    post:
      tags: [Verification]
      summary: Verify a Bank Verification Number
      description: |
        Verifies a Nigerian BVN and returns identity data.
        Cost: ₦80 per request.
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BVNVerification"
      responses:
        "200":
          description: Verification result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "402":
          description: Insufficient wallet balance
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /verify/fraud-score:
    post:
      tags: [Verification]
      summary: Get fraud risk score
      description: |
        Cross-references NIN and BVN data to compute a fraud risk score.
        Cost: ₦50 per request.
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FraudScore"
      responses:
        "200":
          description: Fraud score result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  /verify/education:
    post:
      tags: [Verification]
      summary: Verify education credentials (async)
      description: |
        Queues an education verification job for WAEC, NECO, NABTEB, or NBAIS.
        Results are delivered via webhook or polling.
        Cost: ₦250 per request.
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EducationVerification"
      responses:
        "200":
          description: Job queued
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          jobId:
                            type: string
                            format: uuid

  /verify/education/result:
    get:
      tags: [Verification]
      summary: Poll education verification result
      security:
        - ApiKeyAuth: []
      parameters:
        - name: jobId
          in: query
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Verification result or pending status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  /verify/employment:
    post:
      tags: [Verification]
      summary: Verify employment (async)
      description: |
        Queues an employment verification request.
        Results are delivered via webhook or polling.
        Cost: ₦350 per request.
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmploymentVerification"
      responses:
        "200":
          description: Job queued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  /verify/employment/result/{requestId}:
    get:
      tags: [Verification]
      summary: Poll employment verification result
      security:
        - ApiKeyAuth: []
      parameters:
        - name: requestId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Verification result or pending status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  /verify/unified:
    post:
      tags: [Unified]
      summary: Enterprise unified verification
      description: |
        Submit NIN, BVN, multiple SSCE checks, employment, and fraud scoring in a single request.
        Supports async processing with webhook delivery.
        15% bundle discount when total exceeds ₦300.
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UnifiedVerification"
      responses:
        "200":
          description: Unified verification initiated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          requestId:
                            type: string
                            format: uuid
                          pricing:
                            type: object
        "402":
          description: Insufficient balance
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /verify/unified/result/{requestId}:
    get:
      tags: [Unified]
      summary: Poll unified verification result
      security:
        - ApiKeyAuth: []
      parameters:
        - name: requestId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Combined results from all verification checks
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  /transactions:
    get:
      tags: [Billing]
      summary: List wallet transactions
      security:
        - BearerAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        "200":
          description: Transaction list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  /billing/initiate:
    post:
      tags: [Billing]
      summary: Initiate wallet funding via Paystack
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: number
                  description: Amount in Naira
              required: [amount]
      responses:
        "200":
          description: Paystack payment URL
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  /billing/verify/{reference}:
    get:
      tags: [Billing]
      summary: Verify a payment by reference
      security:
        - BearerAuth: []
      parameters:
        - name: reference
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Payment verification result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  /webhook:
    get:
      tags: [Webhooks]
      summary: Get webhook configuration
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Current webhook config
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
    post:
      tags: [Webhooks]
      summary: Configure webhook endpoint
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookConfig"
      responses:
        "200":
          description: Webhook configured with new signing secret
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
    delete:
      tags: [Webhooks]
      summary: Remove webhook configuration
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Webhook removed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  /webhook/logs:
    get:
      tags: [Webhooks]
      summary: Get webhook delivery history
      security:
        - BearerAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
      responses:
        "200":
          description: Delivery log entries
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  /webhook/test:
    post:
      tags: [Webhooks]
      summary: Send a test webhook event
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Test event sent
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  /security/ip-allowlist:
    get:
      tags: [Security]
      summary: Get IP allowlist
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Current allowed IPs
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
    post:
      tags: [Security]
      summary: Add IP to allowlist
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ip:
                  type: string
                  example: "192.168.1.100"
              required: [ip]
      responses:
        "200":
          description: IP added
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
    delete:
      tags: [Security]
      summary: Remove IP from allowlist
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ip:
                  type: string
              required: [ip]
      responses:
        "200":
          description: IP removed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  /mode:
    patch:
      tags: [Profile]
      summary: Toggle sandbox/live mode
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                mode:
                  type: string
                  enum: [sandbox, live]
              required: [mode]
      responses:
        "200":
          description: Mode switched
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  /logs:
    get:
      tags: [Analytics]
      summary: Get API usage logs
      security:
        - BearerAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
      responses:
        "200":
          description: API logs
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  /analytics:
    get:
      tags: [Analytics]
      summary: Get usage analytics and charts
      security:
        - BearerAuth: []
      parameters:
        - name: period
          in: query
          schema:
            type: string
            enum: [7d, 30d, 90d]
            default: 30d
      responses:
        "200":
          description: Analytics data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"

  /dashboard/stats:
    get:
      tags: [Analytics]
      summary: Get dashboard summary stats
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Dashboard statistics
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
